{
  "root": true,
  "env": {
    "node": true,
  },
  "extends": [
    "plugin:vue/essential",
    "@vue/airbnb",
  ],
  "rules": {
    "no-console": "warn"
  },
  "parserOptions": {
    "parser": "babel-eslint",
  }
}